# Common configuration shared between all applications
configserver:
  name: Docker JHipster Registry
  status: Connected to the JHipster Registry running in Docker

jhipster:
  security:
    authentication:
      jwt:
        # secret key which should be base64 encoded and changed in production
        base64-secret: NzFjY2Q4YTdlMjAxNmI3NjQxZjYzNTJiZjQyMGE4NTFiYzA3MWMxMThhMGNmM2E5MzM2ZWIzY2MyMzFhZDNjOWExYzg4OGYxZTU3MjcyNmRmNDA5OTNmMTBjNWJhMzQxOTM4NDgyN2M0M2Y3YzM3ZTc5NTBlYTYxZDAxNjJlZWI=

eureka:
  client:
    service-url:
      defaultZone: http://admin:${jhipster.registry.password}@jhipster-registry:8761/eureka/
